html {
    background-color: #ccc;
}

h1 {
     color: rgb(179, 25, 25);
}

li {
    font-size:  32px;
}

.produto {
    background-color: aqua;
    font-weight: bold;
    font-size: 30px;
}

.total {
    font-size: 30px;
    background-color: blueviolet;
}